//<h1>Editing User</h1>

<%#= render 'form', user: @user %>

//<%#= link_to 'Show', @user %> |
<%#= link_to 'Back', users_path %>
let editor = document.getElementById('<%= dom_id(@user) %>');
console.log(editor)
editor.insertAdjacentHTML('afterend', "<%= j render 'inline_form', user: @user %>")
//editor.style.display = 'none'
